@model List<MaromFit.Models.Client>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function DeleteClient(idClient)
    {
        var redirectPage = "http://" + window.location.host + "/Client/Delete/" + idClient;
        window.location.replace(redirectPage);
        
    }
</script>
<br />
@Html.ActionLink("Novo Cliente", "New",null, new { @class = "btn btn-success" })
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Plano</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.Mail</td>
                <td>@client.Plan.Name</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = client.Id }, new {@class="btn btn-warning" })
                    <button class="btn btn-danger" onclick="DeleteClient(@client.Id)">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>
