@model MaromFit.Models.ViewModel.UserPlanViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">

    @{
        var minhaClasse = Model.Plans.Count > 1 ? "classeTeste" : null;
    }

    <h1 class="@minhaClasse">@Model.Client.Name @DateTime.Now.ToString()</h1>

    @if (Model.Plans.Count > 0)
    {
        <ul>
            @foreach (var plano in Model.Plans)
            {
                <li>@plano.Name / @plano.Value</li>
            }
        </ul>
    }
    else
    {
        <p>Não existem Planos!</p>
    }


</div>
