
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Marom Fit", "Index", "Home", "http", "", null, new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Vendas", "Index", "Sales", "http", "", null, null, null)</li>
                <li>@Html.ActionLink("Planos", "Index", "Plan","http", "",null,null,null)</li>
                <li>@Html.ActionLink("Clientes", "Index", "Client", "http", "", null, null, null)</li>
                <li>@Html.ActionLink("ClientesAPI", "IndexApi", "Client", "http", "", null, null, null)</li>
                <li>@Html.ActionLink("About", "About", "Home", "http", "", null, null, null)</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", "http", "", null, null, null)</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>